bundle/gundo
bundle/jedi-vim
bundle/pydoc
bundle/pydocstring
bundle/snipmate
bundle/snippets
bundle/supertab
bundle/syntastic
bundle/tasklist
bundle/tlib_vim
bundle/vim-addon-mw-utils
bundle/vim-yaml
