.netrwhist
bundle/autopep8/
bundle/gundo
bundle/jedi-vim
bundle/pydoc
bundle/pydocstring
bundle/snipmate
bundle/snippets
bundle/supertab
bundle/syntastic
bundle/tasklist
bundle/tlib_vim
bundle/vim-addon-mw-utils
bundle/vim-colors-solarized/
bundle/vim-indent-guides/
bundle/vim-pep8-text-width
bundle/vim-yaml
bundle/Vundle.vim
